@model ADE_ManagementSystem.Models.IndexViewModel
@{
    ViewBag.Title = "User Profile";
}


<div class="col-sm-offset-3">
    <h2>User Profile</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>

    @Html.Action("Details")
</div>
