@model ADE_ManagementSystem.Models.IndexViewModel
@{
    ViewBag.Title = "User Profile";
}

<h2>User Profile</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @Html.Action("Details")
</div>
